body{
    color: #263238;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    margin-top: 0px;
    font-size: 10px;

    position: relative;

}
.menu{
    width:100%;/*横幅一杯に表示*/
    height: 40px;
    padding: 10;
    position:fixed; /*絶対位置で指定*/ 

    index:10; /*一番前に表示(数字が多いほど前)*/
    
    background-color: #4DB6AC;
    opacity: 50%;



}
.menu h1{
    margin-left: 20px;
    margin: 1.5% 5% auto;
    font-size: 1.8rem;
    color: #FFF;
    float: left;


}
.menu ul{
    margin-top:0px; 
    margin: 1.5% 5% auto;
    position:relative;
    margin-left: 30px;
    text-align: center;
    

}

.menu li{
    display: inline-block;
    width: 16.6%;
    font-size: 1.5rem;
    color: #FFF;
    

}

.works{
    width: 70%;

}


.works h3{
    font-size: 1.6rem;

    color: #546E7A;
    width: 70%;
    margin-top:  30px;
}



.works h4{
    font-size: 1.2rem;
    margin-bottom:  10px;

    color: #546E7A;

    
}

.works  ul{
    
    
    list-style-type:none;

}
.works  li{
    margin: 40px 0 auto;

}

.works p{
    font-size: 0.9rem;
    width: 100%;
    color: #546E7A;
    margin-top:  10px;


}

.works{
    
    width: 70%;
    margin: auto;
}

.menu a{
    text-decoration: none;
    font-size: 1.0rem;
    color: #FFF;

}

a{
    color:  #4DB6AC;

}

